node_modules

dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.cache
*.tsbuildinfo
